<!-- <div class="container"> -->
    <!-- Content goes here -->
    <div class=" rowClass">
    <div class="row">
      
      <div class="bankDtls">
        <h4>Our Details : {{myDetails.me}}</h4>
      </div>

      <div class="alert alert-success" *ngIf="showSuccessPopup" role="alert" style="color: black;
      background-color: lightgreen;">
        Transaction successful!
        <div>Transaction Details : {{trxSuccessMessage}}</div>
        <button type="button" class="close" aria-label="Close" (click)="hideSuccess()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <!-- <div class="card"> -->
          <div class="col-6">
            <div class="transfer-form row">
                <h2>Transfer Amount</h2>
                <form class="col-6" [formGroup]="myForm"  (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input formControlName="amount" type="text" id="amount" name="amount" placeholder="Enter amount">
                  </div>
                  <div class="form-group">
                    <label for="recipient">Recipient:</label>
                    <select formControlName="recipient" id="recipient" name="recipient">
                      <!-- <option value="O=PartyA,L=London,C=GB">Bank A</option>
                      <option value="O=PartyB,L=New York,C=US">Bank B</option>
                      <option value="O=PartyC,L=Ratnagiri,C=IN">Bank C</option> -->
                      <option>Select</option>
                      <option *ngFor="let item of peersDetails?.peers" [value]=item>{{item}}</option>
                    </select>
                  </div>
                  <button style="    margin-top: 10%;" type="submit">Transfer</button>
                </form>
                <div class="col-6">
<img style="    height: 100%;
width: 100%;" src="../../assets//images/blockchain.jpg">
                </div>
              </div>
            </div>
            <div class="col-3">
<div class="card" style="    margin-top: 12%;">
  <h3>Network participants</h3>
  <p>You can perform transactions with the parties listed below and receive from them as well</p>
<div  *ngFor="let item of peersDetails?.peers" style="background-color: aquamarine;    margin-bottom: 2%;">
<p>{{item}}</p>
</div>
</div>
            </div>

            <div class="col-3">
              <div class="card" style="    margin-top: 15%;    width: 90%;">
                <h3>Get Transactions</h3>
                <p>Click here to view the ledger.</p>
                <button (click)="getLedgerTrx()" class="ledgerBtn">Get Ledger</button>
              </div>
         
                          </div>
        <!-- </div> -->
    </div>
<div style="background-color: #f1f1f1;">
 
    <div class="card-container" style="    background-color: white;" >
     
      <div class="card-wrapper">
        
      <div class="card cardCarousel" *ngFor="let ledger of ledgerDetails" >
        <p style="white-space: pre-wrap;"><span>Transaction Hash</span> {{ledger.ref.txhash}}</p>
        <p><span style="font-weight: 700;">Borrower</span> {{ledger.state.data.borrower}}</p>
        <p><span>Lender</span> {{ledger.state.data.lender}}</p>
        <p>Amount :{{ledger.state.data.value}}</p>
        <p>Notary :{{ledger.state.data.notary}}</p>
        <p>Contract :{{ledger.state.contract}}</p>
        <p style="white-space: pre-wrap;">Constraint Signature {{ledger.state.constraint.key}}</p>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf="!ledgerDetails">
<p>No Transactions</p>
  </div>
  <!-- </div> -->
</div>