<!-- <div class="container"> -->
    <!-- Content goes here -->
    <div class="row rowClass">
      
      <div class="bankDtls">
        <h4>Our Details : {{myDetails.me}}</h4>
      </div>

      <div class="alert alert-success" *ngIf="showSuccessPopup" role="alert" style="color: black;
      background-color: lightgreen;">
        Transaction successful!
        <div>Transaction Details : {{trxSuccessMessage}}</div>
        <button type="button" class="close" aria-label="Close" (click)="hideSuccess()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <!-- <div class="card"> -->
          <div class="col-6">
            <div class="transfer-form row">
                <h2>Transfer Amount</h2>
                <form class="col-6" [formGroup]="myForm"  (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input formControlName="amount" type="text" id="amount" name="amount" placeholder="Enter amount">
                  </div>
                  <div class="form-group">
                    <label for="recipient">Recipient:</label>
                    <select formControlName="recipient" id="recipient" name="recipient">
                      <!-- <option value="O=PartyA,L=London,C=GB">Bank A</option>
                      <option value="O=PartyB,L=New York,C=US">Bank B</option>
                      <option value="O=PartyC,L=Ratnagiri,C=IN">Bank C</option> -->
                      <option>Select</option>
                      <option *ngFor="let item of peersDetails.peers" [value]=item>{{item}}</option>
                    </select>
                  </div>
                  <button style="    margin-top: 10%;" type="submit">Transfer</button>
                </form>
                <div class="col-6">
<img style="    height: 100%;
width: 100%;" src="../../assets//images/blockchain.jpg">
                </div>
              </div>
            </div>
            <div class="col-6">
<div class="card" style="    margin-top: 12%;">
  <h3>Network participants</h3>
  <p>You can perform transactions with the parties listed below and receive from them as well</p>
<div  *ngFor="let item of peersDetails.peers" style="background-color: aquamarine;    margin-bottom: 2%;">
<p>{{item}}</p>
</div>
</div>
            </div>
        <!-- </div> -->
    </div>
  <!-- </div> -->
 