<!-- <div class="background" #background></div> -->
<div class="background">
    <video autoplay muted loop id="background-video">
      <source src="../assets/blockChain.mp4" type="video/mp4">
    </video>
    <div class="content row">
      <h1>Welcome to Secure Transaction Gateway</h1>
      <h3>Login with your credentials</h3>
      <!-- <div class="buttons">
        <a href="#" class="button">Button 1</a>
        <a href="#" class="button">Button 2</a>
      </div> -->
      <div class=" offset-1 cardsLeft col-3">
        <div class="card">
          <h3>Card 1</h3>
          <p>This is the content of Card 1.</p>
        </div>
        <div class="card marginLastCard">
          <h3>Card 2</h3>
          <p>This is the content of Card 2.</p>
        </div>
      </div>
      <div class=" offset-3 cardsRight col-3">
        <div class="card">
          <h3>Card 1</h3>
          <p>This is the content of Card 1.</p>
        </div>
        <div class="card marginLastCard">
          <h3>Card 2</h3>
          <p>This is the content of Card 2.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="textured-background">
    <!-- Content goes here -->
  </div>
  
  
  
  