<!-- <div class="background" #background></div> -->
<div class="background">
    <video autoplay muted loop id="background-video">
      <source src="../assets/blockChain.mp4" type="video/mp4">
    </video>
    <div class="content row">
      <h1>Welcome to Secure Transaction Gateway</h1>
      <h3>Login with your credentials</h3>
      <!-- <div class="buttons">
        <a href="#" class="button">Button 1</a>
        <a href="#" class="button">Button 2</a>
      </div> -->
      <div class=" offset-1 cardsLeft col-3">
        <div class="card">
          <h3>BANK A</h3>
          <p>It has been operating as a bank in India for the past 20 years</p>
          <button type="button" class="btn btn-primary btn-lg" (click)="login('bankA')">LOGIN</button>
        </div>
        <div class="card marginLastCard">
          <h3>BANK C</h3>
          <p>It has been operating as a bank in US for the past 20 years.</p>
          <button type="button" class="btn btn-primary btn-lg" (click)="login('bankC')">LOGIN</button>
        </div>
      </div>
      <div class=" offset-3 cardsRight col-3">
        <div class="card">
          <h3>BANK B</h3>
          <p>It has been operating as a bank in Germany for the past 20 years.</p>
          <button type="button" class="btn btn-primary btn-lg" (click)="login('bankB')">LOGIN</button>
        </div>
        <div class="card marginLastCard">
          <h3>BANK D</h3>
          <p>It has been operating as a bank in Germany for the past 20 years.</p>
          <button type="button" class="btn btn-primary btn-lg" (click)="login('bankD')">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
  

  
  
  